// BACKGROUND COLORS
$main-bg: #1f2e2e; 
$soft-bg: #2e443f;  
$dark-bg: #162120;     

// TEXT COLORS
$main-color: #f1fdf2;    
$soft-color: #b3d9c2;   
$dark-color: #1f2e2e;   

$accent-green: #4caf50;  
$accent-blue: #64b5f6;   
$warning-yellow: #fbc02d; 
